{{define "content"}}
<div class="container py-5">
    <h1 class="mb-3">About</h1>
    <div class="mt-4 p-3 border rounded bg-light">
        <p>This came from the template: {{index .StringMap "test"}}</p>
    </div>
</div>
{{end}}

{{template "base" .}}
